:root {
    --primary-100: #c8e6c9;
    --primary-200: #a5d6a7; 
    --primary-300: #81c784; 
    --primary-400: #66bb6a; 
    --primary-500: #4caf50; 
    --primary-600: #43a047; 
    --primary-700: #388e3c; 
    --primary-800: #2e7d32; 
    --primary-900: #1b5e20;


    --font-color: var(--primary-800);
    --background-color: var(--primary-100);
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}
