@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Rajdhani:wght@300;400;500;600;700&family=Uncial+Antiqua&display=swap');



:root {
    --primary-100: #c8e6c9;
    --primary-200: #a5d6a7;
    --primary-300: #81c784;
    --primary-400: #66bb6a;
    --primary-500: #4caf50;
    --primary-600: #43a047;
    --primary-700: #388e3c;
    --primary-800: #2e7d32;
    --primary-900: #1b5e20;

    /* zmienne dla kolorów */
    --font-color: var(--primary-800);
    --background-color: var(--primary-100);

    /* zmienne dla czcionek */
    --body-font: "Rajdhani", sans-serif;
    --header-font: "Uncial Antiqua", system-ui;
    --special-font: "Hanalei Fill", system-ui;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--body-font);
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: var(--header-font);
    margin: 0;
}

.special {
    font-family: var(--special-font);
}


.nav-bar {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center {
   
    width: 80vw;
    height: 6rem;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 6rem;
}

.app-btn {
    background-color: var(--primary-600);
    color: white;
    border: transparent;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    border-radius: 0.2rem;
}

.nav-btn > i {
    font-size: 1.3rem;
}

.nav-header img {
    height: 6rem;
}

.nav-links {
    display: flex;
    flex-direction: column;

    height: 0;
    overflow: hidden;

    transition-duration: 2s;
}

.show-links {
    height: 455px;
}

.nav-link {
    padding: 2rem 0;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    color: var(--font-color);
    border-top: 1px solid var(--primary-500);
    letter-spacing: 1px;
}

.nav-link a {
    text-decoration: none;
}

.nav-link:hover {
    color: var(--primary-300);
    font-size: 1.3rem;
}


/* Menu na szerokie ekrany */
@media screen and (min-width: 992px)
{
    .nav-btn {
        display: none;
    }

    .nav-links {
        height: auto;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .nav-center {
        display: flex;
        align-items: center;

        max-width: 1200px;
    }

    .nav-link {
        border-top: none;
        margin-right: 2rem;
        padding: 0;
    }

    .weather-link {
        margin-right: 0;
        margin-left: auto;
        padding: 0.4rem 0.8rem;
    }

    .nav-header {
        margin-right: 2.5rem;
    }
}



.main-page {
    width: 80vw;

    margin: 0 auto;
    max-width: 1200px;

    min-height: calc(100vh - 11rem);
}

/* Sekcja stopki */
.footer-page {
    height: 5rem;
    background-color: black;
    color: var(--primary-100);
    font-family: var(--header-font);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

#name {
    color: var(--primary-400);
}

/* stylowanie Dane historyczne */
.reports {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.report-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
}

.report {
    flex: 1;
}

.report-title {
    margin-top: 1.5rem;
}

.report-tags > b {
    margin-right: 2rem;
    font-size: 1.1rem;
}

.report-desc {
    padding: 0 1.5rem;
}