@{
	ViewData["Title"] = "Dane historyczne";
}

<h1>Dane historyczne</h1>

<div class="reports">
	<div class="report">
		<h2 class="report-title"> Pole "A" - 01-10-2025 </h2>
		<img class="report-image" src="https://cdn.pixabay.com/photo/2015/08/23/14/19/cornfield-902877_960_720.jpg" alt="Zdjęcie pola A" />
		<p class="report-desc"> Stan pola: dojrzewająca kukurydza, częściowo zniszczona roślinność po ostatniej burzy, wymaga podlewania. </p>
		<p class="report-tags">
			<b>#kukurydza</b>
			<b>#wilgotność</b>
			<b>#burza</b>
		</p>
	</div>
	<div class="report">
		<h2 class="report-title"> Pole "A" - 01-10-2025 </h2>
		<img class="report-image" src="https://cdn.pixabay.com/photo/2015/08/23/14/19/cornfield-902877_960_720.jpg" alt="Zdjęcie pola A" />
		<p class="report-desc"> Stan pola: dojrzewająca kukurydza, częściowo zniszczona roślinność po ostatniej burzy, wymaga podlewania. </p>
		<p class="report-tags">
			<b>#kukurydza</b><b>#wilgotność</b><b>#burza</b>
		</p>
	</div>
	<div class="report">
		<h2 class="report-title"> Pole "A" - 01-10-2025 </h2>
		<img class="report-image" src="https://cdn.pixabay.com/photo/2015/08/23/14/19/cornfield-902877_960_720.jpg" alt="Zdjęcie pola A" />
		<p class="report-desc"> Stan pola: dojrzewająca kukurydza, częściowo zniszczona roślinność po ostatniej burzy, wymaga podlewania. </p>
		<p class="report-tags">
			<b>#kukurydza</b><b>#wilgotność</b><b>#burza</b>
		</p>
	</div>
	<div class="report">
		<h2 class="report-title"> Pole "A" - 01-10-2025 </h2>
		<img class="report-image" src="https://cdn.pixabay.com/photo/2015/08/23/14/19/cornfield-902877_960_720.jpg" alt="Zdjęcie pola A" />
		<p class="report-desc"> Stan pola: dojrzewająca kukurydza, częściowo zniszczona roślinność po ostatniej burzy, wymaga podlewania. </p>
		<p class="report-tags">
			<b>#kukurydza</b><b>#wilgotność</b><b>#burza</b>
		</p>
	</div>
	<div class="report">
		<h2 class="report-title"> Pole "A" - 01-10-2025 </h2>
		<img class="report-image" src="https://cdn.pixabay.com/photo/2015/08/23/14/19/cornfield-902877_960_720.jpg" alt="Zdjęcie pola A" />
		<p class="report-desc"> Stan pola: dojrzewająca kukurydza, częściowo zniszczona roślinność po ostatniej burzy, wymaga podlewania. </p>
		<p class="report-tags">
			<b>#kukurydza</b><b>#wilgotność</b><b>#burza</b>
		</p>
	</div>
	<div class="report">
		<h2 class="report-title"> Pole "A" - 01-10-2025 </h2>
		<img class="report-image" src="https://cdn.pixabay.com/photo/2015/08/23/14/19/cornfield-902877_960_720.jpg" alt="Zdjęcie pola A" />
		<p class="report-desc"> Stan pola: dojrzewająca kukurydza, częściowo zniszczona roślinność po ostatniej burzy, wymaga podlewania. </p>
		<p class="report-tags">
			<b>#kukurydza</b><b>#wilgotność</b><b>#burza</b>
		</p>
	</div>
	<div class="report">
		<h2 class="report-title"> Pole "A" - 01-10-2025 </h2>
		<img class="report-image" src="https://cdn.pixabay.com/photo/2015/08/23/14/19/cornfield-902877_960_720.jpg" alt="Zdjęcie pola A" />
		<p class="report-desc"> Stan pola: dojrzewająca kukurydza, częściowo zniszczona roślinność po ostatniej burzy, wymaga podlewania. </p>
		<p class="report-tags">
			<b>#kukurydza</b><b>#wilgotność</b><b>#burza</b>
		</p>
	</div>

</div>