<!DOCTYPE html>
    <html>
    <head>
        <title>@ViewData["Title"] - Platforma Branżowa</title>
	    <link href="~/css/mystyle.css" rel="stylesheet" />
        
	    <link href="~/lib/fontawesome-free-7.1.0-web/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
	    <img height="200px" src="~/pic/logo.png" />
        <main>
	        @RenderBody()
        </main>
        <i style="color: red; font-size: 30px;" class="fa-solid fa-toilet-paper"></i>
    </body>
    </html>